<div class="p-3 mx-5">
  <div class="card mx-5">
    <div class="card-header">
      <div class="row ">
        <div class="col-md-6  ">
          <h4 class="dark-blue">Appointments Dashboard</h4>
          <p class="color-grey ">Hospital Admin Dashboard</p>
        </div>
        <div class="col-md-6 text-center ">
          <button class="btn p-2 color-custom text-white color- my-3" data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="bi bi-plus-lg"></i> New Appointment
          </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title " id="myModalLabel"> Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                body
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <table class=" table table-hover text-center">
        <thead><tr>
          <th>#</th>
          <th>Appointment Date</th>
          <th> Patient ID</th>
          <th> Prescription ID</th>
          <th >N° of Medications</th>
          <th>Status</th>
        </tr></thead>
        <tbody>
        <tr *ngFor="let appoint of appoints ">
          <td>{{appoint.id}}</td>
          <td>{{appoint.patientId}}</td>
          <td>{{appoint.prescriptionId}}</td>
          <td>{{appoint.medicationNum}}</td>
          <td>{{appoint.status}} </td>
          <td>
            <button class="btn ms-1 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" ><i class="bi bi-three-dots-vertical"></i></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Display</a></li>
              <li><a class="dropdown-item" >Modify </a></li>
              <li><a class="dropdown-item" >Delete </a></li>
              <li><a class="dropdown-item" >Display Patient</a></li>
              <li><a class="dropdown-item" >Check Prescription</a></li>
              <li><a class="dropdown-item" >Display Medications</a></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
