<div class="p-3 mx-5">
  <div class="card mx-5">
    <div class="card-header">
      <div class="row ">
        <div class="col-md-6 ">
          <h4 class="dark-blue">Patient Dashboard</h4>
          <p class="color-grey ">Hospital Admin Dashboard</p>
        </div>
        <div class="col-md-6 text-center ">
          <button class="btn p-2 color-custom text-white color- my-3" data-bs-toggle="modal" data-bs-target="#addUser">
            <i class="bi bi-plus-lg"></i> New Patient
          </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" > New Patient </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 body
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class=" table table-hover text-center">
        <thead class="dark-blue"><tr >
          <th>#</th>
          <th>Full Name</th><th>Date of Birth</th>
          <th>Adresse</th>
          <th>Phone Number</th>
          <th >Actions</th>
        </tr></thead>
        <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{patient.id}}</td>
          <td>{{patient.fullName}}
          <td>{{patient.dateBirth}}</td>
          <td>{{patient.adresse}}</td>
          <td>{{patient.phoneNumber}}</td>
          <td>
            <button class="btn ms-1 " data-bs-toggle="modal" data-bs-target="#displayUser"><i class="bi bi-eye text-black"></i></button>
            <button class="btn ms-1 " data-bs-toggle="modal" data-bs-target="#modifyUser"><i class="bi bi-pencil-square text-success "></i></button>
            <button class="btn ms-1 "><i class="bi bi-trash text-danger "></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- Modal -->
      <div class="modal fade" id="displayUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >  Patient Card</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              body
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modifyUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" > Modify Patient </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              body
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Discard</button>
              <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
