
<div class="navbar-custom text-color mb-5" >
  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom navbar-custom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4  text-color">CareBridge</span>
    </a>



    <ul class="nav nav-pills mx-4">
      <li class="nav-item">
        <button routerLink="/home" class="btn ms-1 text-color" >
          <i class="bi bi-house"></i> Home</button>
      </li>
      <li class="nav-item">
        <button class="btn ms-1 text-color" routerLink="/patients">
          <i class="bi bi-person"></i> Patients</button>
      </li>
      <li class="nav-item">
        <button class="btn  ms-1 text-color" routerLink="/ehr">
          <i class="bi bi-file-earmark-medical"></i> Health Records</button>
      </li>
      <li class="nav-item">
        <button class="btn  ms-1 text-color" routerLink="/appointments">
          <i class="bi bi-calendar-event"></i> Appointments
        </button>
      </li>
      <li class="nav-item">
        <button class="btn ms-1 text-color">
          <i class="bi bi-info-circle"></i> About us
        </button>
      </li>
    </ul>
  </header>

</div>

<router-outlet>

</router-outlet>
